@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Passion+One&display=swap");
* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Assistant", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.main-header {
  width: 100vw;
  height: 6vh;
}

.main-header > .container {
  width: 100%;
  height: 100%;
  max-width: 925px;
}

.logo {
  height: 100%;
  width: 150px;
  position: relative;
}

.logo:hover {
  cursor: pointer;
}

.logo > img {
  width: 135px;
  height: 100%;
}

.logo-subtitle {
  font-size: 0.6rem;
  position: absolute;
  z-index: 100;
  bottom: 7px;
  right: 15px;
  font-weight: 600;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3.5rem;
  height: 3rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.hamburger-btn > .bar {
  width: 100%;
  height: 5px;
  background-color: #213a7f;
}

.nav-list {
  list-style: none;
  display: none;
}

.big-banner {
  width: 100%;
  height: 132px;
  background: linear-gradient(155deg, #154b9c, #213b7f);
  color: white;
  flex-direction: column;
}

.big-banner > h4 {
  font-size: 2.2rem;
}

.big-banner > h1 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1;
}

.small-banner {
  width: 100%;
  background-color: #eff6df;
  margin-top: 5px;
  padding: 7px;
}

.small-banner span {
  font-size: 1.2rem;
  text-align: center;
}

.main {
  width: 100%;
  height: calc(90vh - 370px);
  display: flex;
  flex-direction: column;
}

.main .main-header {
  width: 100%;
  height: 120px;
  margin: 25px 0;
  font-size: 3rem;
  text-align: center;
}

.main-article {
  height: 100%;
  gap: 5px;
}

.main-article .profession {
  width: 100%;
  height: 11.5%;
  display: flex;
  padding: 5px;
  border: 1px solid lightgray;
}

.profession:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profession .profession-img {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profession .profession-img::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 70%;
  border-radius: 10px;
}

.profession-img.ethical-hacking::after {
  background-color: #4ac694;
}

.profession-img.system-administration::after {
  background-color: #a3b6cc;
}

.profession-img.seo::after {
  background-color: #3a5998;
}

.profession-img.qa::after {
  background-color: #316cff;
}

.profession-img.qa::after {
  background-color: #316cff;
}

.profession-img.ui-ux::after {
  background-color: #f9cf58;
}

.profession-img.fullstack::after {
  background-color: #9da6e9;
}

.profession-img.mobile::after {
  background-color: #8e8e93;
}

.profession-img.embedded::after {
  background-color: #475f8e;
}

.profession .profession-img img {
  height: 100%;
}

.profession .profession-name {
  display: flex;
  align-items: center;
  width: 82%;
}

.profession .arrow-icon {
  font-size: 0.7em;
  color: rgb(32, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-bar-btns {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 7vh;
  width: 100%;
  gap: 1px;
}

.details, .whatsup {
  border: none;
  background-color: #0066ff;
  color: white;
  width: 50%;
  font-size: 1.5rem;
}

.details > a, .whatsup > a {
  text-decoration: none;
}

.details > a:hover, .whatsup > a:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.details img {
  margin-left: 5px;
}

.whatsup::before {
  font-family: "FontAwesome";
  content: "\f232";
  margin-left: 5px;
}

.main-article {
  display: flex;
  flex-direction: column;
}

.big-banner, .small-banner, .details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
